Q1. Create one variable containing following type of data:

(i) string
(ii) list
(iii) float
(iv) tuple

In [5]:
a = "Hello, World!" 
print(type(a))

<class 'str'>

In [2]:
a = ["Swaraj","Nilesh","Suraj"]
print(type(a))

<class 'list'>

In [3]:
a = 3.14
print(type(a))

<class 'float'>

In [4]:
a = ("Swaraj","Nilesh","Suraj","Kalyan")
print(type(a))

<class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [ ]:
var1 =" " # this is a String.
var2 = ‘[ DS , ML , Python]’ #this is a invalid declearation of list data type.
var3 = [ "DS" , "ML" , "Python"] # This is a list data type too.
var4 = 1 # This is a integer data type.

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [17]:
a = 2
b = 5
c = b/2           # Division operator returns the float value after division.
print(c)
c = b%2           # Modulus operator returns the remainder after divison.
print(c)
c = b//2          # This operator returns the integer value, this division also know as integer division or floor division -> round down the result to the nearest whole no.
print(c)
c = a**b          # This operator returns exponatial value such as c = a^b 
print(c)

2.5
1
2
32

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [19]:
Choice_lst = ["Swaraj","Nilesh",3.14,5,{"Swaraj":25},{"Swaraj","Suraj"},("Suraj","Andrew"),3+4j,[25,24],bool(4)] 
for i in Choice_lst: 
    print(type(i))

<class 'str'>
<class 'str'>
<class 'float'>
<class 'int'>
<class 'dict'>
<class 'set'>
<class 'tuple'>
<class 'complex'>
<class 'list'>
<class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [2]:
A = int(input("Enter the no. "))
B = int(input("Enter the second no. : ")) 
while A>B: 
    if A%B ==0:
        print(f" The no. {A} is purely divisible by {B} and it can be {A//B} times divisible")
        break
    else: 
        print(f" The no. {A} can not be purely divisible by {B}")
        break

Enter the no.  48
Enter the second no. :  7

 The no. 48 can not be purely divisible by 7

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [5]:
lst = [2,3,24,25,21,34,25,13,199,5,34,21,45,35,64,32,56,7,7,75,47,4,7,7,152]
""" len_lst = len(lst)
print(len_lst) """
for i in range(25): 
     if lst[i]>0 and lst[i]%3 ==0: 
        print(f"The element {i} is divisible by 3")
     else:
        print(f"The element {i} is not divisible by 3")

The element 0 is not divisible by 3
The element 1 is divisible by 3
The element 2 is divisible by 3
The element 3 is not divisible by 3
The element 4 is divisible by 3
The element 5 is not divisible by 3
The element 6 is not divisible by 3
The element 7 is not divisible by 3
The element 8 is not divisible by 3
The element 9 is not divisible by 3
The element 10 is not divisible by 3
The element 11 is divisible by 3
The element 12 is divisible by 3
The element 13 is not divisible by 3
The element 14 is not divisible by 3
The element 15 is not divisible by 3
The element 16 is not divisible by 3
The element 17 is not divisible by 3
The element 18 is not divisible by 3
The element 19 is divisible by 3
The element 20 is not divisible by 3
The element 21 is not divisible by 3
The element 22 is not divisible by 3
The element 23 is not divisible by 3
The element 24 is not divisible by 3

In [14]:
print(f"""Mutable data type -> In python lists are the data type which are ordered and mutable furthermore can contain duplicate elements,we can modify a list according to our requirements by appending or removing elements from it also by assigning elements in particular place
as it supports indexing because it is ordered.Example Grading system, Stack & Queue, sorting and searching etc.
""")
friends_name = ["Swaraj","Nilesh","Suraj","Kalayan"]
friends_name.append("Akriti")
print(friends_name)
friends_name[2]="Amit"
print(friends_name)

print(f"""
 Similarly set are unordered,unique and mutable data type,we can modify the no. of elements in set by adding or removing elements but as it's unorder so doesn't support item assignment.
""")

my_set = {"Swaraj","Nilesh","Kalayan","Amit"}
my_set.add("Andrew")
print(my_set)
my_set.remove("Nilesh")
print(my_set)  
print("\n")
 
print(f""" Furthermore Dictionaries are ordered and mutable data type. 
""")

print(f""" 
Tuples are immutable data type as it does allow modification of element present in it. Once they are assigned, can't be changed. And it can duplicate elements.
""")
my_finger_name = ("Rohan","Swaraj","Nilesh","Suraj","Kalyan")
print(my_finger_name)
print("\n")
print(f""" Although we can create a new tuple from an existing one
""")
my_finger_name1 = my_finger_name + ("Akash",)
print(my_finger_name1)

Mutable data type -> In python lists are the data type which are ordered and mutable furthermore can contain duplicate elements,we can modify a list according to our requirements by appending or removing elements from it also by assigning elements in particular place
as it supports indexing because it is ordered.Example Grading system, Stack & Queue, sorting and searching etc.

['Swaraj', 'Nilesh', 'Suraj', 'Kalayan', 'Akriti']
['Swaraj', 'Nilesh', 'Amit', 'Kalayan', 'Akriti']

 Similarly set are unordered,unique and mutable data type,we can modify the no. of elements in set by adding or removing elements but as it's unorder so doesn't support item assignment.

{'Andrew', 'Nilesh', 'Amit', 'Kalayan', 'Swaraj'}
{'Andrew', 'Amit', 'Kalayan', 'Swaraj'}


 Furthermore Dictionaries are ordered and mutable data type.


Tuples are immutable data type as it does allow modification of element present in it. Once they are assigned, can't be changed. And it can duplicate elements.

('Rohan', 'Swaraj', 'Nilesh', 'Suraj', 'Kalyan')


 Although we can create a new tuple from an existing one

('Rohan', 'Swaraj', 'Nilesh', 'Suraj', 'Kalyan', 'Akash')